#!/bin/bash
set -o errexit -o nounset -o pipefail
function -h {
cat <<\USAGE
 USAGE: haproxy_cfg <marathon host:port>

haproxy_cfg generates a config file to run HAProxy on localhost and proxy to a number of backend hosts.

To gracefully reload haproxy:

:; haproxy -f /path/to/config -p /var/run/haproxy.pid -sf $(cat /var/run/haproxy.pid)

USAGE
}; function --help { -h ;}
export LC_ALL=en_US.UTF-8

function header {
  cat <<EOF
global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  user apache
  group apache

defaults
  log         global
  retries     3
  maxconn     2000
  timeout connect  5000
  timeout client  100000
  timeout server  100000
  stats enable
  stats auth admin:admin
  stats uri /haproxy

EOF
}

function marathon_apps {
  z="`curl -H "Accept: text/plain" -s "$1/v2/tasks" | awk '!a[$1]++'`"

  frontend "$z"
  backend "$z"
}

function frontend {
  cat <<EOF
frontend http-in
  bind *:{{ haproxy_listen_port }}
  mode http
  option httplog
  option dontlognull
  option forwardfor
  option http-server-close
EOF

  while IFS= read 
  do
    set -- $REPLY
    local name="$1"
    cat <<EOF
  acl host_${name} path_beg ${gapps[${name}]}
  use_backend ${name}_cluster if host_${name}

EOF
  done <<< "$1"
}

function backend {
  while IFS= read
  do
    set -- $REPLY
    local name="$1"
    local port="$2"
    shift 2
    cat <<EOF

backend ${name}_cluster
  option httpclose
  option forwardfor
  mode http
  balance leastconn
EOF
    while [[ $# -gt 0 ]]
    do
      if [ "$name" == "gondola-command-center-ui" ]
      then
        out "  reqrep ^(.*)\ /gondolier/(.*) \1\ /\2"
        out "  option httpchk HEAD /"
        out "  server ${name}-$# $1 check inter 30000"
      else
        out "  option httpchk GET /healthcheck"
        out "  http-check expect ! string unhealthy"
        out "  server ${name}-$# $1 check port $((`echo $1|cut -d: -f2` + 1 )) check inter 30000"
      fi
      shift
    done
  done <<< "$1"
}

function config {
  header
  marathon_apps "$@"
}

function main {
  config "$@"
}

function msg { out "$*" >&2 ;}
function err { local x=$? ; msg "$*" ; return $(( $x == 0 ? 1 : $x )) ;}
function out { printf '%s\n' "$*" ;}

if [[ ${1:-} ]] && declare -F | cut -d' ' -f3 | fgrep -qx -- "${1:-}"
then "$@"
else
  eval `curl -H "Accept: application/json" -s "$1/v2/apps" | python /etc/haproxy/marathon_apps.py`
  main "$@"
fi
